* {
  box-sizing: border-box;
}

html,
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 175%;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vw;
}

ol, textarea { width: 100%; max-width: 640px; }
