* {
  box-sizing: border-box;
}

html,
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
}

.centerer {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
}

canvas {
  display: block;
  width: 100vw; max-width: 640px;
  height: 100vw; max-height: 640px; 
}

ol, textarea { width: 100%; max-width: 640px; }
